name: tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.0.2
        with:
          bun-version: "1.3.3"

      - run: bun install --frozen-lockfile

      - run: bun test --coverage --coverage-reporter=lcov

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de #v5.5.2
        with:
          files: ./coverage/lcov.info
